<!DOCTYPE html>
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Shark</title>
  <link rel="shortcut icon" href="../../../assets/images/logo.png" />
  <link rel="stylesheet" href="index.css" />
</head>
<html>
  <body>
    <div>
      <iframe
        src="../../pages/common/navBar/navBar.html"
        frameborder="0"
      ></iframe>
    </div>
    <div>
      <iframe src="sideBarLeft/sideBarLeft.html" frameborder="0"></iframe>
      <iframe src="Home/Home.html" name="home" frameborder="0"></iframe>
    </div>
  </body>
</html>
