div {
  width: 100%;
  display: flex;
}
body {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
}
* {
  margin: 0;
  padding: 0;
  background: #18191a;
}
div:nth-child(1) {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #3e4042;
}
div:nth-child(1) > iframe {
  width: 100%;
}
div:nth-child(2) > iframe:nth-child(1) {
  width: 25%;
  height: 100vh;
  border-right: 1px solid #3e4042;
  max-width: 300px;
}

div:nth-child(2) > iframe:nth-child(2) {
  width: 100%;
  display: flex;
  justify-content: center;
}
